{{#sortable-group tagName="ul"
  id=(concat elementId "-ember-power-select-multiple-options")
  class="ember-power-select-multiple-options"
  onChange=(action "reorderItems")
  direction="x" as |group|}}
  {{#each selected as |opt idx|}}
    {{#sortable-item tagName="li" class="ember-power-select-multiple-option" model=opt group=group}}
      {{#unless disabled}}
        <span role="button"
          aria-label="remove element"
          class="ember-power-select-multiple-remove-btn"
          data-selected-index={{idx}}>&times;</span>
      {{/unless}}
      {{#if selectedItemComponent}}
        {{component selectedItemComponent selected=opt lastSearchedText=lastSearchedText}}
      {{else}}
        {{yield opt lastSearchedText}}
      {{/if}}
    {{/sortable-item}}
  {{/each}}
  {{#if searchEnabled}}
    <input type="search" class="ember-power-select-trigger-multiple-input {{elementId}}-input"
      tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
      style={{triggerMultipleInputStyle}}
      aria-controls={{listboxId}}
      placeholder={{maybePlaceholder}}
      disabled={{disabled}}
      oninput={{action "handleInput"}}
      onkeydown={{action "handleKeydown"}}>
  {{/if}}
{{/sortable-group}}
<span class="ember-power-select-status-icon"></span>